# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Logs
*.log
*.tmp

# dbt
target/
dbt_packages/
.airflow/.dbt/
.dbt/

# OS files
.DS_Store
Thumbs.db

# data outputs
*.csv